body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vh;
  height: 100vh;
}

p {
  font-size: 20px;
}

h4 {
  margin-top: 20px;
}

.navbar .navbar-default{
  background: none;
  border: none;
}

.container {
  max-width: 750px;
}

.header__container {
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.jc-image {
  width: 100%;
  border-radius: 10px;
}
