body {

}

main {
  width: 100vw;
  height: 100vh;
  background: url('./assets/header_bg2.jpg');
  background-size: cover;
  color: #fff;
}


h1 {
  font-size: 76px;
}

h4 {
  margin-top: 20px;
}

p {
  font-size: 20px;
}

footer {
  position: relative;
  height: inherit;
  background: rgb(35, 35, 35);
  color: #666;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default{
  background: none;
  border: none;
}

.container {
  max-width: 750px;
  min-height: 88vh;
}

.header__container {
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%) translateY(-50%);
}

.img-fluid {
  width: 100%;
}

.jc-image {
  width: 100%;
  border-radius: 10px;
}
