body {
  font-weight: 300;
}

main {
  width: 100vw;
  height: 100vh;
  background: url('./assets/header_bg2.jpg');
  background-size: cover;
  color: #fff;
}


h1 {
  font-size: 76px;
  font-family: 'Reenie Beanie', cursive;
}

h2 {
  font-size: 64px;
  font-family: 'Reenie Beanie', cursive;
}

h4 {
  margin-top: 20px;
}

p {
  font-size: 20px;
}

footer {
  background: rgb(35, 35, 35);
  color: #666;
  position: relative;
  height: 40px;
  margin-bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.navbar {
  margin-bottom: 0;
  font-family: 'Reenie Beanie', cursive;
}

.navbar-default{
  background: none;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  padding: 12px 30px;
  color: #777;
  font-size: 28px;
}

.container {
  margin-top: 5%;
  max-width: 750px;
  min-height: 88vh;
}

.header__container {
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%) translateY(-50%);
}

.img-fluid {
  width: 100%;
}

.jc-image {
  width: 100%;
  border-radius: 10px;
}

div.navbar-collapse.collapse {
    	display: block;
    	overflow: hidden;
    	max-height: 0px;
    	-webkit-transition: max-height .3s ease;
    	-moz-transition: max-height .3s ease;
    	-o-transition: max-height .3s ease;
    	transition: max-height .3s ease;
  }

div.navbar-collapse.collapse.in {
	max-height: 2000px;
}

ul,
li {
  margin: 0;
  padding: 0 5px;
  list-style: none;
  width: 90%;
}

/*.col-xs-6 {
  padding: 5px;
}*/
